/** Body **/
body{
    background-color: rgb(116, 218, 246);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
h1, .build-story p, #studentId, #story{
    color: purple;
}
.build-story h2{
    color: rgb(193, 35, 87);
}
.display-story h2{
    color: rgb(186, 36, 186);
}
.build-story button{
    color: rgb(116, 218, 246);
}
/** Create story buttons**/
.build-story button{
    background: rgb(193, 35, 87);
    width: 105px;
    height: 30px;
    border: 1.4px solid rgb(193, 35, 87);
    border-radius: 10px;
}
/*noun1*/
#noun1:hover{
    background: rgb(229, 39, 229);
    color: #f8f8f8;
    border: rgb(229, 39, 229);;
    transition: .3s ease-in-out;
}
/*verb*/
#verb:hover{
    background: rgb(191, 191, 30);
    color: #f8f8f8;
    border: rgb(191, 191, 30);
    transition: .3s ease-in-out;
}
/*adjective*/
#adjective:hover{
    background: rgb(68, 68, 240);
    color: #f8f8f8;
    border: rgb(68, 68, 240);
    transition: .3s ease-in-out;
}
/*noun2*/
#noun2:hover{
    background: orange;
    color: #f8f8f8;
    border: orange;
    transition: .3s ease-in-out;
}
/*setting*/
#setting:hover{
    background: rgb(235, 128, 146);
    color: #f8f8f8;
    border: rgb(235, 128, 146);
    transition: .3s ease-in-out;
}
/** Show Story button**/
#playback{
    background: rgb(116, 218, 246);
    width: 105px;
    height: 30px;
    border: 1.4px solid purple;
    border-radius: 10px;
    color: rgb(109, 7, 109);
}
#playback:hover{
    background: purple;
    color: #f8f8f8;
    font-size: 14px;
    transition: .3s ease-in-out;
}
/** Random Story button**/
#random{
    background: rgb(116, 218, 246);
    width: 105px;
    height: 30px;
    border: 1.4px solid rgb(37, 160, 37);
    border-radius: 10px;
    color: rgb(37, 134, 37);
}
#random:hover{
    background: rgb(37, 160, 37);
    color: #f8f8f8;
    font-size: 14px;
    transition: .3s ease-in-out;
}